In [52]:
pip install pandas

Requirement already satisfied: pandas in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2017.2 in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [53]:
pip install scikit_learn

Requirement already satisfied: scikit_learn in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (1.0.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.14.6 in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from scikit_learn) (1.21.6)
Requirement already satisfied: scipy>=1.1.0 in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from scikit_learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from scikit_learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from scikit_learn) (3.1.0)

In [54]:
pip install nltk

Requirement already satisfied: nltk in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (3.8.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: click in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from nltk) (2024.4.16)
Requirement already satisfied: tqdm in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from click->nltk) (0.4.6)
Requirement already satisfied: importlib-metadata in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from click->nltk) (6.7.0)
Requirement already satisfied: zipp>=0.5 in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from importlib-metadata->click->nltk) (3.15.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\pc-17\appdata\local\programs\python\python37\lib\site-packages (from importlib-metadata->click->nltk) (4.7.1)

In [55]:
import pandas as pd

In [26]:
data=pd.read_csv('Corona_NLP_test.csv')
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral
...,...,...,...,...,...,...
3793,3794,48746,Israel ??,16-03-2020,Meanwhile In A Supermarket in Israel -- People...,Positive
3794,3795,48747,"Farmington, NM",16-03-2020,Did you panic buy a lot of non-perishable item...,Negative
3795,3796,48748,"Haverford, PA",16-03-2020,Asst Prof of Economics @cconces was on @NBCPhi...,Neutral
3796,3797,48749,NaN,16-03-2020,Gov need to do somethings instead of biar je r...,Extremely Negative
3797,3798,48750,"Arlington, Virginia",16-03-2020,I and @ForestandPaper members are committed to...,Extremely Positive

In [27]:
print(data.head())

   UserName  ScreenName             Location     TweetAt  \
0         1       44953                  NYC  02-03-2020
1         2       44954          Seattle, WA  02-03-2020
2         3       44955                  NaN  02-03-2020
3         4       44956          Chicagoland  02-03-2020
4         5       44957  Melbourne, Victoria  03-03-2020

                                       OriginalTweet           Sentiment
0  TRENDING: New Yorkers encounter empty supermar...  Extremely Negative
1  When I couldn't find hand sanitizer at Fred Me...            Positive
2  Find out how you can protect yourself and love...  Extremely Positive
3  #Panic buying hits #NewYork City as anxious sh...            Negative
4  #toiletpaper #dunnypaper #coronavirus #coronav...             Neutral

In [28]:
data.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral

In [29]:
X = data['OriginalTweet']
X

0       TRENDING: New Yorkers encounter empty supermar...
1       When I couldn't find hand sanitizer at Fred Me...
2       Find out how you can protect yourself and love...
3       #Panic buying hits #NewYork City as anxious sh...
4       #toiletpaper #dunnypaper #coronavirus #coronav...
                              ...
3793    Meanwhile In A Supermarket in Israel -- People...
3794    Did you panic buy a lot of non-perishable item...
3795    Asst Prof of Economics @cconces was on @NBCPhi...
3796    Gov need to do somethings instead of biar je r...
3797    I and @ForestandPaper members are committed to...
Name: OriginalTweet, Length: 3798, dtype: object

In [30]:
y = data['Sentiment']
y

0       Extremely Negative
1                 Positive
2       Extremely Positive
3                 Negative
4                  Neutral
               ...
3793              Positive
3794              Negative
3795               Neutral
3796    Extremely Negative
3797    Extremely Positive
Name: Sentiment, Length: 3798, dtype: object

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import BernoulliNB,MultinomialNB

In [32]:
vectorizer1=CountVectorizer(binary=True)
vectorizer2=CountVectorizer(binary=False)
vectorizer3=TfidfVectorizer()

In [33]:
x1=vectorizer1.fit_transform(X)
x2=vectorizer2.fit_transform(X)
x3=vectorizer3.fit_transform(X)

In [34]:
from sklearn.model_selection import train_test_split
xtrain1,xtest1,ytrain,ytest=train_test_split(x1,y,random_state=1,test_size=0.25)
xtrain2,xtest2,ytrain,ytest=train_test_split(x2,y,random_state=1,test_size=0.25)
xtrain3,xtest3,ytrain,ytest=train_test_split(x3,y,random_state=1,test_size=0.25)

In [35]:
bnb=BernoulliNB()
mnb=MultinomialNB()
mnb2=MultinomialNB()

In [36]:
bnb.fit(xtrain1,ytrain)
mnb.fit(xtrain2,ytrain)
mnb2.fit(xtrain3,ytrain)
pred1=bnb.predict(xtest1)
pred2=mnb.predict(xtest2)
pred3=mnb2.predict(xtest3)

In [37]:
from sklearn.metrics import accuracy_score
print(accuracy_score(pred1,ytest))
print(accuracy_score(pred2,ytest))
print(accuracy_score(pred3,ytest))

0.32526315789473687
0.3642105263157895
0.3094736842105263

In [41]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\PC-17\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [50]:
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return ' '.join(filtered_words)

In [56]:
data['OriginalTweet'] = data['OriginalTweet'].apply(remove_stopwords)
data['cleaned_data']=data['OriginalTweet'].str.replace(r'[^\w\s]','',regex=True)

In [57]:
data.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,cleaned_data
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative,TRENDING New Yorkers encounter empty supermark...
1,2,44954,"Seattle, WA",02-03-2020,"find hand sanitizer Fred Meyer, turned #Amazon...",Positive,find hand sanitizer Fred Meyer turned Amazon 1...
2,3,44955,NaN,02-03-2020,Find protect loved ones #coronavirus. ?,Extremely Positive,Find protect loved ones coronavirus
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City anxious shopp...,Negative,Panic buying hits NewYork City anxious shopper...
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral,toiletpaper dunnypaper coronavirus coronavirus...

In [62]:
x1=vectorizer1.fit_transform(X)
x2=vectorizer2.fit_transform(X)
x3=vectorizer3.fit_transform(X)

In [63]:
bnb.fit(xtrain1,ytrain)
mnb.fit(xtrain2,ytrain)
mnb2.fit(xtrain3,ytrain)
pred1=bnb.predict(xtest1)
pred2=mnb.predict(xtest2)
pred3=mnb2.predict(xtest3)

In [64]:
print(accuracy_score(pred1,ytest))
print(accuracy_score(pred2,ytest))
print(accuracy_score(pred3,ytest))

0.32526315789473687
0.3642105263157895
0.3094736842105263